@charset "utf-8";
#mainimg {
	width: 100%;
	height: 0;
	padding-top: 56%;
	position: relative;
	background: #000;
}main.jsの3000の数字で変更できます。*/
#loading-text {
	position: absolute;z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	color: #999;
}
#mainimg video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#mainimg div div {
	position: relative;z-index: 1;
}
.slide {
	width: 100%;height: 100%;
	position: absolute;right: 0px;top: 0px;
	display: flex;
	align-items: center;
	padding: 0 5vw;
	opacity: 0;
	transition: opacity 1s;
}
.slide1 {
	background: url('../images/IMG_0151.JPG') no-repeat center center / cover;
	justify-content: center;
	text-align: center;
}
.slide2 {
	background: url('../images/IMG_0168_3.JPG') no-repeat center center / cover;
}
.slide3 {
	background: url('../images/IMG_0313.webp') no-repeat center center / cover;
	justify-content: flex-end;
	text-align: right;
}
.slide {
	pointer-events: none;
}

.slide.active {
	pointer-events: auto;
}
#mainimg h2 {
	font-size: 5vw;
	font-weight: 600;
	color: #fff;
	text-shadow: 2px 2px rgba(0,0,0,0.5), 0px 0px 10px rgba(0,0,0,0.5);
}
#mainimg h2 span {
	display: block;
	font-weight: normal;
	font-size: 2vw;
	letter-spacing: 0.1em;
}
#mainimg p {
	display: inline-block;
	font-size: 1.2vw;
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 1vw 2vw;
	border-radius: 5px;
}
	@media screen and (max-width:700px) {
	#mainimg p {
		display: none;
	}

	}

