@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");
@import url("slide.css");
@import url("inview.css");
:root {

	--primary-color: #115f86;
	--primary-inverse-color: #fff;

	--primary-color-rgb: 17,95,134;

	--global-space: 3vw;
}
@keyframes animation1 {
	0% {left: -200px;}
	100% {left: 0px;}
}
@keyframes opa1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
body * {box-sizing: border-box;}

html,body {
	font-size: 13px;
}
	@media screen and (min-width:900px) {

		html, body {
			font-size: 16px;
		}

	}


body {
	margin: 0;padding:0;
	font-family: "M PLUS 1", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: none;
	background: #f2f1f3 url('../images/bg.png') repeat center top / 150px;
	color: #333;
	line-height: 2;
	animation: opa1 0.2s 0.5s both;
}
figure {margin: 0;}
dd {margin: 0;}
nav,ul,li,ol {margin: 0;padding: 0;}
nav ul {list-style: none;}
input {font-size: 1rem;}
ul,ol {margin-left: 1.5rem;margin-bottom: 1rem;}
table {border-collapse:collapse;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
iframe {width: 100%;}
section + section {
	margin-top: 8vw;
}
a {
	color: #333;
	transition: 0.3s;
}
a:hover {
	color: var(--primary-color);
	filter: brightness(1.2);
}
.bg1 {
	background: url('../images/bg1.png') no-repeat center top / 100%;
}
.bg2 {
	background:	url('../images/bg2.png') no-repeat left top / 100%;
}
#container {
	overflow-x: hidden;
}
#contents {
	padding: 6vw var(--global-space);
}
header h1 {
	font-weight: normal;
	margin: 0;padding: 0;
	font-size: 0.8rem;
	letter-spacing: 0.1em;
}
	@media screen and (max-width:700px) {

	header h1 {
		display: none;
	}

	}
.header-inner {
	position: relative;
	display: flex;
	align-items: center;
	background: #fff;
}
.home .header-inner {
	display: block;
}
#logo img {display: block;}
#logo {
	margin: 0;padding: 0;
	width: 200px;
}
.home #logo {
	width: 300px;
	position: absolute;z-index: 1;
	left: 50%;
	top: 0px;
	transform: translateX(-50%);
}
	@media screen and (max-width:900px) {
	.home #logo {
		min-width: 120px;
		width: 20vw;
	}
	
	}
#header-top {
	padding: 5px var(--global-space);
	background: var(--primary-color);
	color: var(--primary-inverse-color);
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
}
	@media screen and (max-width:700px) {
	#header-top {
		justify-content: flex-end;
	}

	}
#header-top a {
	color: inherit;
}
#header-top .lang {
	list-style: none;margin: 0;padding: 0;
	margin-top: -5px;
	display: flex;
	gap: 1rem;
}
#header-top .lang a {
	display: block;text-decoration: none;
	border-radius: 0px 0px 3px 3px;
	padding: 0 1rem;
	background: rgba(255,255,255,0.2);
}
#menubar {display: none;}
#menubar ul {list-style: none;margin: 0;padding: 0;}
.large-screen #menubar {display: block;}
.small-screen #menubar.display-block {display: block;}
#menubar_hdr.display-none {display: none;}
.ddmenu_parent ul {display: none;}
a.ddmenu::before {
	font-family: "Font Awesome 5 Free";
	content: "\f078";
	font-weight: bold;
	font-size: 0.7rem;
	padding-right: 0.5rem;
}
#menubar a {
	display: block;text-decoration: none;
}
#menubar span {
	display: block;
	font-size: 0.7em;
	letter-spacing: 0.1em;
	opacity: 0.6;
}
.large-screen #menubar {
	flex: 1;
}
.large-screen #menubar > nav > ul > li:nth-of-type(1) {
	display: none;
}
.large-screen #menubar > nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.large-screen #menubar li {
	flex: 1;
	position: relative;
	text-align: center;
}
.large-screen #menubar li.current > a {
	border-bottom: 2px solid var(--primary-color);
}
.home.large-screen #menubar > nav > ul > li:nth-of-type(3) {
	margin-right: 150px;
}
.home.large-screen #menubar > nav > ul > li:nth-of-type(4) {
	margin-left: 150px;
}
.large-screen #menubar li a {
	padding: 0.8rem 0;
}
.large-screen #menubar ul ul,
.small-screen #menubar ul ul {
	animation: opa1 0.5s 0.1s both;
}
.large-screen #menubar ul ul {
	position: absolute;z-index: 2;
	width: 100%;
	top: 100%;
	left: 0px;
}
.large-screen #menubar ul ul a {
	padding: 0.6rem 1rem !important;
	background: #fff;
	margin: 3px 3px 0;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.large-screen #menubar ul ul a:hover {
	background: var(--primary-color);
	color: var(--primary-inverse-color);
}*メニューブロック設定*/
.small-screen #menubar.display-block {
	position: fixed;overflow: auto;z-index: 100;
	left: 0px;top: 0px;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	background: var(--primary-color) url('../images/bg_small_screen.png') no-repeat left bottom / 100vw;
	animation: animation1 0.2s both;
	color: var(--primary-inverse-color);
}
.small-screen #menubar li {
	border: 1px solid #fff;
	margin: 1rem;
	border-radius: 5px;
}
.small-screen #menubar a {
	color: inherit;
	padding: 1rem 3rem;
}
.small-screen #menubar li li a {
	background: var(--primary-inverse-color);
	color: var(--primary-color);
}
#menubar_hdr {
	animation: opa1 0.3s 0.5s both;
	position: fixed;z-index: 101;
	cursor: pointer;
	top: 50px;
	right: 2vw;
	width: 50px;
	height: 50px;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;
	background: rgba(0,0,0,0.6);
}
#menubar_hdr div {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#menubar_hdr div span {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 2px;
	transition: all 0.5s ease-in-out;
	position: absolute;
}
#menubar_hdr div span:nth-child(1) {top: 0;}
#menubar_hdr div span:nth-child(2) {top: 50%;transform: translateY(-50%);}
#menubar_hdr div span:nth-child(3) {bottom: 0;}
#menubar_hdr.ham div span:nth-child(1) {top: 50%;transform: translateY(-50%) rotate(45deg);}
#menubar_hdr.ham div span:nth-child(2) {opacity: 0;}
#menubar_hdr.ham div span:nth-child(3) {top: 50%;transform: translateY(-50%) rotate(-45deg);}
main {
	position: relative;
}
main h2 {
	position: relative;
	text-align: center;
	margin: 0 0 2rem;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.1em;
}
main h2 .small {
	display: block;
	font-size: 0.5em;
	opacity: 0.7;
	font-weight: 200;
}
main h3 {
	font-size: 1.4rem;
	letter-spacing: 0.1em;
	font-weight: normal;
}
#footer-contents, #footermenu {
	padding: 2rem var(--global-space);
}
#footer-contents {
	background: rgba(var(--primary-color-rgb), 0.8) url('../images/bg_footer.png') no-repeat left bottom / auto 100%;
	color: var(--primary-inverse-color);
}
#footer-contents a {
	color: inherit;
}
#footer-contents .left {
	margin-bottom: 50px;
}
#footer-contents .btn a {
	border: 2px solid var(--primary-inverse-color);
}
	@media screen and (min-width:900px) {
	
	#footer-contents {
		display: flex;
		gap: var(--global-space);
	}
	#footer-contents .left {
		margin-bottom: 0;
		width: 50%;
	}
	#footer-contents .right {
		width: 50%;
	}

	}
.iframe-box {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	position: relative;
	overflow: hidden;
}
.iframe-box iframe {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
#footermenu {
	background: var(--primary-color);
	color: var(--primary-inverse-color);
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
#footermenu a {
	text-decoration: none;
	color: inherit;
}
#footermenu ul {
	margin: 0;list-style: none;
	padding: 0 0.3em;
	flex: 1;
}
#footermenu .title {
	font-weight: bold;
	padding-bottom: 5px;
}
small {font-size: 100%;}
footer {
	font-size: 0.7rem;
	background: #1d1b1b;
	color: #fff;
	text-align: center;
	padding: 1rem;
}
footer a {color: inherit;text-decoration: none;}
footer .pr {display: block;}
ul.icons {
	list-style: none;
	margin: 0;padding: 0;
	display: flex;
	align-self: center;
	gap: 1rem;
}
.icons i {
	font-size: 40px;
}
.faq dt {
	border-radius: 3px;
	margin-bottom: 1rem;
	background: #fff;
	border: 1px solid #ccc;
	text-indent: -2rem;
	padding: 0.5rem 1em 0.5rem 3em;
}
.faq dt::before {
	font-family: "Font Awesome 6 Free";
    content: "\f059";
	padding-right: 1rem;
	color: var(--primary-color);
}
.faq dd {
	padding: 0 1rem 1rem 3rem;
}
.openclose {
	cursor: pointer;
}
.list-normal * {margin: 0;padding: 0;}
.list-normal .list {
	display: flex;
	gap: 2vw;
	margin-bottom: 3vw;
}
.list-normal .list.reverse {
	flex-direction: row-reverse;
}
.list-normal .text {
	flex: 1;
}
.list-normal .image {
	width: 40%;
}
.list-normal h4 {
	font-weight: 500;
	font-size: 1.3rem;
	color: var(--primary-color);
	margin-bottom: 0.5em;
}
.list-normal h4 a {
	color: inherit;
}
.list-half {
    display: flex;
    flex-direction: column;
}
.list-half + .list-half {
	margin-top: 5vw;
}
.list-half h3 {
	margin: 0;padding: 0;
	text-align: center;
}
.list-half h4 {
	font-weight: normal;
	margin: 0;
	font-size: 1.5rem;
	color: var(--primary-color);
	position: relative;
	padding-right: 100px;
}
.list-half h4 .kazari {
	position: absolute;
	right: 0px;
	top: -3rem;
	width: 100px;
}
.list-half h3::before,
.list-half h3::after {
    content: "|";
    display: inline-block;
}
.list-half h3::before {
	transform: rotate(-30deg);
	margin-right: 0.5rem;
}
.list-half h3::after {
	transform: rotate(30deg);
	margin-left: 0.5rem;
}
.list-half h3 i {
    margin-left: 0.5rem;
    font-size: 2rem;
    color: var(--primary-color);
    opacity: 0.6;
}
.list-half .text {
    background: #fff;
    padding: 1rem 2rem;
	margin-bottom: 30px;
    border-radius: 1vw;
}
	@media screen and (max-width:599px) {
	.list-half h3 {order: 1;}
	.list-half .image {order: 2;}
	.list-half .text {order: 3;}
	
	}
	@media screen and (min-width:600px) {
	.list-half {
		flex-direction: row;
		justify-content: space-between;
		margin-right: calc(-1 * var(--global-space));
		margin-left: calc(-1 * var(--global-space));
	}
	.list-half.reverse {
		flex-direction: row-reverse;
		margin-left: calc(-1 * var(--global-space));
	}
	.list-half h3 {
		writing-mode: vertical-rl;
		text-orientation: upright;
		font-size: 0.85rem;
		margin-top: 10vw;
		white-space: nowrap;
		display: inline-block;
	}
	.list-half h3::before {
		transform: rotate(-60deg);
		margin-bottom: 0.5rem;
	}
	.list-half.reverse h3::before {
		transform: rotate(60deg);
	}
	.list-half h3::after {
		transform: rotate(60deg);
		margin-top: 0.5rem;
	}
	.list-half.reverse h3::after {
		transform: rotate(-60deg);
	}
	.list-half h3 i {
		margin: 0;
		margin-top: 0.5rem;
	}
	.list-half .text {
		margin-bottom: 0;
		flex: 1;
		align-self: flex-start;
		margin-top: 8vw;
		position: relative;
		z-index: 1;
		margin-right: -10vw;
		box-shadow: 2vw 2vw rgba(var(--primary-color-rgb), 0.1);
	}
	.list-half.reverse .text {
		margin-right: 0;
		margin-left: -10vw;
		box-shadow: -2vw 2vw rgba(var(--primary-color-rgb), 0.1);
	}
	.list-half .image {
		padding: 0;
		width: 50vw;
		border-radius: 3vw 0px 0px 3vw;
		overflow: hidden;
	}
	.list-half.reverse .image {
		border-radius: 0px 3vw 3vw 0px;
	}

	}
.list-grid1 .list * {margin: 0;padding: 0;}
.list-grid1 .list {
    display: grid;
	margin-bottom: 1rem;
}
.list-grid1 .list p {
	font-size: 0.85rem;
	line-height: 1.5;
}
.list-grid1 .list {
	padding: 1rem;
	background: #fff;
    grid-template-rows: auto 1fr auto;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.list-grid1 .list figure {
	margin: -1rem;
	margin-bottom: 0.5rem;
}
	@media screen and (min-width:800px) {
	.list-grid1 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	.list-grid1 .list {
		margin-bottom: 0;
	}

	}
.list-free * {margin: 0;padding: 0;}
.list-free {
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10vw;
	gap: 5vw;
}

.list-free h3{
	white-space: nowrap;
}
.bg3 .list-free {
	margin-bottom: 0;
}
.list-free .text {
    align-self: flex-start;
	flex: 1;
}
.list-free h3 {
	letter-spacing: 0.1em;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--primary-color);
	position: relative;
	padding: 0 1rem;
	margin: 0 auto;
}
.list-free h3::before,
.list-free h3::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 50px;
	border: 1px solid var(--primary-color);

}
.list-free h3::before {
	top: -15px;
	left: -15px;
	border-right: none;
	border-bottom: none;
}
.list-free h3::after {
	bottom: -15px;
	right: -15px;
	border-left: none;
	border-top: none;
}
.list-free h4 {
	font-weight: 500;
	font-size: 1.3rem;
	color: var(--primary-color);
	margin-bottom: 0.5em;
}
.list-free .image {
	box-shadow: 0px 0px 30px rgba(var(--primary-color-rgb), 0.3);
}
.list-free .image > div {
	background: #fff;
	font-size: 0.7rem;
	padding: 1rem 2rem;
}
	@media screen and (min-width:600px) {
	.list-free {
			flex-direction: row;
	}
	.list-free h3 {
		writing-mode: vertical-rl;
		text-orientation: upright;
		padding: 1rem 0.5rem;
	}
	.list-free .w1 {width: 30%;}
	.list-free .w2 {width: 50%;}
	.list-free .order1 {order: 1;}
	.list-free .order2 {order: 2;}
	.list-free .order3 {order: 3;}
	.list-free .mt1 {margin-top: 10vw;}
	.list-free .mt2 {margin-top: 20vw;}

	}
.btn a {
	display: block;text-decoration: none;
	font-size: 1rem;
	text-align: center;
	background: var(--primary-color);
	color: var(--primary-inverse-color);
	padding: 0.5rem !important;
	margin-top: 1rem !important;
}
.bg3,
.bg3::before {
	background:	url('../images/bg3.svg') repeat-x center top / auto 50px;
}
.bg3 {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
}
.bg3::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	left: 0px;
	bottom: 0px;
	transform: scaleY(-1);
}
.bg3 > div {
	padding: 1px;
	background: #caecf9;
	padding-left: var(--global-space);
	padding-right: var(--global-space);
	padding-top: 5vw;
	padding-bottom: 5vw;
}

.bg3 a {
	color: inherit;
}
.kazari3-wrap {
	position: relative;
	display: inline-block;
}
.kazari3-wrap::before,
.kazari3-wrap::after {
	content: "";
	position: absolute;
	top: 0px;
	width: 50px;
	height: 50px;
	background-image: url('../images/kazari3.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
.kazari3-wrap::before {
	left: -100px;
}
.kazari3-wrap::after {
	right: -100px;
	transform: scaleX(-1);
}
.new {
	background: rgba(0,0,0,0.02);
	overflow: hidden;
	margin-bottom: 4rem;
}
.new dt:nth-of-type(odd),
.new dd:nth-of-type(odd) {
	background: rgba(0,0,0,0.04);
}
.new dt {
	padding: 1rem;
}
.new dd {
	padding: 0 1rem 1rem;
}
.new dt span {
	display: inline-block;
	margin-right: -1rem;
	text-align: center;
	line-height: 1.8;
	border-radius: 3px;
	padding: 0 0.5rem;
	width: 8rem;
	transform: scale(0.8);
	background: #fff;
	color:#777;
	border: 1px solid #999;
}
.new .icon-bg1 {
	background: var(--primary-color);
	color: var(--primary-inverse-color);
	border-color: transparent;
}
.new .icon-bg2 {
	background: #ff0000;
	color: #fff;
	border-color: transparent;
}
	@media screen and (min-width:700px) {
	.new {
		display: grid;
		grid-template-columns: auto 1fr;
	}
	.new dd {
		padding: 1rem;
	}

	}
.main-contents {
	margin-bottom: 2vw;
}
.sub-contents h3 {
	margin: 0;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.sub-contents h3::first-letter {
	border-left: 3px solid var(--primary-color);
	padding-left: 10px;
}
	@media screen and (min-width:900px) {
	main.column {
		display: flex;
		justify-content: space-between;
		gap: 3vw;
	}
	.main-contents {
		margin-bottom: 0;
		order: 2;
		flex: 1;
	}
	.sub-contents {
		width: 210px;
	}
	.sub-contents:nth-child(2) {
		order: 1;
	}
	.sub-contents:nth-child(3) {
		order: 3;
	}
	
	}
.submenu * {margin: 0;padding: 0;}
.submenu {
	padding: 0;
	margin: 0 0 1rem;
	border-top: 1px solid #ccc;
}
.submenu a {
	display: block;text-decoration: none;
	padding: 0.2rem 1rem;
	background: #fff;
}
.submenu > li {
	border: 1px solid #ccc;
	border-top: none;
}
.submenu li li a {
	padding-left: 2rem;
}
.box1 {
	padding: 1rem;
	margin-bottom: 1rem;
	background: rgba(0,0,0,0.05);
	border: solid 1px #ccc;
	box-shadow: 0px 0px 1px 1px #fff inset;
}
.box1 .submenu {
	margin-bottom: 0;
}
.thumbnail-view-parts {
	max-width: 1000px;
	margin: 0 auto 1rem;
	text-align: center;
}
.thumbnail-parts {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
.thumbnail-parts img {
	width: 100px;
	margin: 2px;
	cursor: pointer;
	transition: 0.3s;
}
.thumbnail-parts img:hover {
	opacity: 0.8;
}
.animation-text {
	position: absolute;z-index: -1;
	width: 100vw;
	right: -50vw;
	top: 25vw;
}
.spin {
	animation: spin 150s linear infinite;
}
.ta1 caption {
	font-weight: bold;
	padding: 0.5rem 1rem;
	background: var(--primary-color);
	color: var(--primary-inverse-color);
	margin-bottom: 1rem;
	border-radius: 5px;
}
.ta1 {
	table-layout: fixed;
	border-top: 1px solid #999;
	width: 100%;
	margin-bottom: 1rem;
}
.ta1 tr {
	border-bottom: 1px solid #999;
}
.ta1 th, .ta1 td {
	padding: 1rem;
	word-break: break-all;
}
.ta1 th {
	width: 30%;
	text-align: left;
}
	@media screen and (min-width:900px) {
		.ta1 th {
			width: 20%;
		}

	}
.ta2 caption {
	text-align: center;
	background: var(--primary-color);
	color: var(--primary-inverse-color);
	font-weight: bold;
	padding: 10px;
}
.ta2 {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 2rem;
	text-align: center;
	background: #fff;
	color: #333;
}
.ta2, .ta2 td, .ta2 th {
	word-break: break-all;
	border: 1px solid #ccc;
}
.ta2 th {
	background: #fffbe3;
}
.ta-box {
	overflow-x: auto;
	margin-bottom: 1rem;
}
.ta-box .ta2 {
	min-width: 600px;
}
.pagetop-show {display: block;}
.pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 99;
	position: fixed;
	right: 20px;
	bottom: 20px;
	color: #fff;
	font-size: 1.5rem;
	background: rgba(0,0,0,0.2);
	width: 60px;
	line-height: 60px;
	border-radius: 50%;
}
.marker {
	display: inline-block;
	background: linear-gradient(transparent 80%, yellow 80%);
}
.clearfix::after {content: "";display: block;clear: both;}
.color-check, .color-check a {color: #ff0000 !important;}
.l {text-align: left !important;}
.c {text-align: center !important;}
.r {text-align: right !important;}
.ws {width: 95%;display: block;}
.wl {width: 95%;display: block;}
.mb0 {margin-bottom: 0px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb5vw {margin-bottom: 5vw !important;}
.look {display: inline-block;padding: 0px 10px;background: #fff;color: #333;border: 1px solid #ccc; border-radius: 3px;margin: 5px 0; word-break: break-all;}
.small {font-size: 0.75em;}
.large {font-size: 2em; letter-spacing: 0.1em;}
.pc {display: none;}
.dn {display: none !important;}
.block {display: block !important;}
	@media screen and (min-width:900px) {

	.ws {width: 48%;display: inline;}
	.sh {display: none;}
	.pc {display: block;}

	}
