


.list-grid0 .list * {margin: 0;padding: 0;}
.list-grid0 .list {
    display: grid;
	margin-bottom: 1rem;
}
.list-grid0 .list p {
	font-size: 0.85rem;
	line-height: 1.5;
}
.list-grid0 .list {
	padding: 1rem;
	background: #fff;
    grid-template-rows: auto 1fr auto;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.list-grid0 .list figure {
	margin: -1rem;
	margin-bottom: 0.5rem;
}
	@media screen and (min-width:800px) {
	.list-grid0 {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
	}
	.list-grid0 .list {
		margin-bottom: 0;
	}

	}
.list-grid5 .list * {margin: 0;padding: 0;}
.list-grid5 .list {
    display: grid;
	margin-bottom: 1rem;
}
.list-grid5 .list p {
	font-size: 0.85rem;
	line-height: 1.5;
}
.list-grid5 .list {
	padding: 1rem;
	background: #fff;
    grid-template-rows: auto 1fr auto;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.list-grid5 .list figure {
	margin: -1rem;
	margin-bottom: 0.5rem;
}
	@media screen and (min-width:800px) {
	.list-grid5 {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 1rem;
	}
	.list-grid5 .list {
		margin-bottom: 0;
	}

	}
.list-grid2 .list * {margin: 0;padding: 0;}
.list-grid2 .list {
    display: grid;
	margin-bottom: 1rem;
}
.list-grid2 .list p {
	font-size: 0.85rem;
	line-height: 1.5;
}
.list-grid2 .list {
	padding: 1rem;
	background: #fff;
    grid-template-rows: auto 1fr auto;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.list-grid2 .list figure {
	margin: -1rem;
	margin-bottom: 0.5rem;
}
	@media screen and (min-width:800px) {
	.list-grid2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	.list-grid2 .list {
		margin-bottom: 0;
	}

	}
.list-grid3 .list * {margin: 0;padding: 0;}
.list-grid3 .list {
    display: grid;
	margin-bottom: 1rem;
}
.list-grid3 .list p {
	font-size: 0.85rem;
	line-height: 1.5;
}
.list-grid3 .list {
	padding: 1rem;
	background: #fff;
    grid-template-rows: auto 1fr auto;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.list-grid3 .list figure {
	margin: -1rem;
	margin-bottom: 0.5rem;
}
	@media screen and (min-width:800px) {
	.list-grid3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	.list-grid3 .list {
		margin-bottom: 0;
	}

	}
.list-grid4 .list * {margin: 0;padding: 0;}
.list-grid4 .list {
    display: grid;
	margin-bottom: 1rem;
}
.list-grid4 .list p {
	font-size: 0.85rem;
	line-height: 1.5;
}
.list-grid4 .list {
	padding: 1rem;
	background: #fff;
    grid-template-rows: auto 1fr auto;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.list-grid4 .list figure {
	margin: -1rem;
	margin-bottom: 0.5rem;
}
	@media screen and (min-width:800px) {
	.list-grid4 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
	}
	.list-grid4 .list {
		margin-bottom: 0;
	}

	}
	
